.bgvideo{
    height: 60vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bgvideo video{
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.effect {
    background-color: #00000043;
    height: 60vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}


.textvideo {
    color: aquamarine;
    z-index: 2;
}