@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    font-size: 15px;
    background: linear-gradient(300deg,rgb(16, 152, 98) 0%, #3b3b3b 100%);
}

p {
    color: aquamarine;
}

.navbar {
    box-shadow: 0px 10px 20px 2px #3b3b3b;
    background-color: #3b3b3b;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(16, 152, 98);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: aquamarine;
}

.card {
    border: none;
    background: linear-gradient(0deg, #3b3b3b 0%,rgb(223, 255, 244) 25%);
}

.btn {
    background-color:#3b3b3b;
    border: none;
    color: aquamarine !important;
}
.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #3b3b3b 50%, rgb(60, 104, 87) 100%);
}

.sidebar a {
    color: white;
}

.card a {
    text-decoration: none;
    color: #3b3b3b;
}

.slide-text, 
.footer-text {
    color: white;
    /* margin-inline: auto;
    margin-block: auto; тоже самое что ---> */
    margin: auto auto;
}

footer {
    background: linear-gradient(90deg, #3b3b3b 50%, rgb(60, 104, 87) 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: callAnim 2s ease 0s infinite normal forwards;
}

@keyframes callAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

